.navbar-admin{
    background-color:#000099;
    border-color:#FFFFFF;
}

.navbar-admin-brand{
    color: #FFFFFF;
    float:left;
    padding:15px;
    font-size:18px;
    line-height:20px;
    height:50px
}

.navbar-side-color{
    color: #FFFFFF;
}

ul.navbar-side-color, li, a{
    color: #FFFFFF;
} 