/**
* Reference fonts
*/
@font-face {
    font-family: 'wolf in the city';
    src: url('../fonts/wolf in the city/wolf in the city.woff') format('woff'), url('../fonts/wolf in the city/wolf in the city.ttf') format('truetype');
}
@font-face {
    font-family: 'brankovic';
    src: url('../fonts/brankovic/brankovic.woff') format('woff'), url('../fonts/brankovic/brankovic.ttf') format('truetype');
}
@font-face {
    font-family: 'chunkfive ex';
    src: url('../fonts/chunkfive ex/chunkfive ex.woff') format('woff'), url('../fonts/chunkfive ex/chunkfive ex.ttf') format('truetype');
}
/**
* Apply fonts
*/
.navbar .navbar-brand {
   font-family: "chunkfive ex", sans-serif;
    font-size: 250%;
    color: black;
}


.top-nav>li>a {
    color: black;
    font-size:110%;
}

/**
* User settings page mods
*/
.yellow, .yellow .active a,
.yellow .active a:hover {
    color: yellow !important;
}

.green, .green .active a,
.green .active a:hover {
    color: green !important;
}

.red, .red .active a,
.red .active a:hover {
    color: red !important;
}

.brown, .brown .active a,
.brown .active a:hover {
    color: saddlebrown !important;
}

.blue, .blue .active a,
.blue .active a:hover {
    color: blue !important;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

/**
* Dark Panels
*/
.panel-inverse {
  border-color: #080808; //#080808 //#222
}
.panel-inverse > .panel-heading {
  color: #FFFFFF;
  background-color: #222;
  border-color: #080808;
}
.panel-inverse > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #080808;
}
.panel-inverse > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #080808;
}

/**
* For Book Availability Icon
*/

.thumbnail > a > img {
    display: block;
    max-width: 100%;
}

.book-image-group .book-image-wrapper .book-image {
    position: relative;
    margin: 0 auto;
    display: table;
}

.book-image-group .book-image-wrapper .book-label {
  position: absolute;      
  top: 5px;
  right: 5px;
}

.fixed-book-image-size {
    height: 75%; 
    width: 75%;
}

.icon-color-black {
    color: black;
}

.icon-color-white {
    color: white;
}

.icon-color-green {
    color: green;
}

.icon-color-red {
    color: red;
}

.icon-color-gray {
    color: gray;
}

.icon-color-lightgray {
    color: lightgray;
}



/**
* End Book Availability Icon
*/